<configuration>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/Hercrentals.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/Hercrentals_%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>1GB</totalSizeCap>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<root level="info">
		<appender-ref ref="FILE"/>
	</root>
</configuration>